/*header  开始*/
#header{
    height: 32px;
    background: #f2f2f2;
    font-size: 12px;
    line-height: 32px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;;
    border-bottom: 1px solid #eee;
}
#login-info{
    float: left;
}
#login-info span, #login-info a, #quick-menu a{
    color: #999999;
}
#login-info a{
    padding-left: 12px;
}
#login-info a:hover{
    color: #ff0036;
}
#quick-menu{
    float: right;
    position: relative;
    z-index: 1;
}
#quick-menu .menu{
    float: left;
    padding: 0 12px;
    cursor: pointer;
}
#quick-menu a:hover{
    color: #ff0036;
    text-decoration: underline;
}
#quick-menu .triangle:hover{
    background: #ffffff;
    border-color: #eee;
}
#quick-menu .triangle{
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px;
    height: 33px;
}
#quick-menu .triangle::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #bbb transparent transparent transparent;
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -1.5px;
}
#quick-menu .triangle:hover::after{
    transform: rotate(180deg);
    transform-origin: 3px 1.5px;
    transition: transform .4s ease;
}
#quick-menu .submenu{
    position: absolute;
    top: 33px;
    left: -1px;
    padding: 0 10px;
    width: 74px;
    border-style: solid;
    border-color: #eee;
    border-width: 0 1px 1px 1px;
    background-color: #fff;
    display: none;
}
#quick-menu .menu:hover .submenu{
    display: block;
}
#quick-menu .iconfont{
    color: #ff0036;
}
#quick-menu .phone{
    position: relative;
}
#quick-menu .qr-code{
    width: 175px;
    height: 227px;
    background: #ffffff;
    position: absolute;
    top: 30px;
    left: -43px;
    -webkit-box-shadow: 0 0 5px #aaa;
    -moz-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
    display: none;
}
#quick-menu .qr-code::after{
    content: '';
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -8px;
    left: 85px;
}
#quick-menu .phone:hover .qr-code{
    display: block;
}
#quick-menu .shangjia{
    position: absolute;
    left: -62px;
    display: none;
    width: 113px;
    border-style: solid;
    border-color: #eee;
    border-width: 0 1px 1px 1px;
    background-color: #fff;
    padding: 0 10px;
    padding-bottom: 15px;
}
#quick-menu #shangjia-top{
    width: 116px;
    border-bottom: 1px #999999 dashed;
}
#quick-menu #shangjia-top li{
    float: left;
    padding-right: 10px;
}
#quick-menu #shangjia-bottom{
    width: 116px;
    border-bottom: 1px #999999 dashed;
}
#quick-menu #shangjia-bottom li{
    float: left;
    padding-right: 10px;
}
#quick-menu .shangjiazhichi:hover .shangjia{
    display: block;
}
/*header  结束*/


/*side-bar  开始*/
#side-bar{
    background: #000000;
    width: 35px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}
#side-bar .content{
    text-align: center;
}
#side-bar .icon-shouji01{
    color: #ffffff;
    display: block;
    font-size: 25px;
    margin-top: 200px;
}
#side-bar .vip{
    width: 90px;
    height: 30px;
    background: #999999;
    color: #ffffff;
    position: absolute;
    top: 200px;
    left: -150px;
    text-align: center;
    line-height: 30px;
    -webkit-transition: opacity .3s ease,left .3s ease;
    -moz-transition: opacity .3s ease,left .3s ease;
    -ms-transition: opacity .3s ease,left .3s ease;
    -o-transition: opacity .3s ease,left .3s ease;
    transition: opacity .3s ease,left .3s ease;
    visibility: hidden;
    opacity: 0;
}
#side-bar .content:hover .vip{
    left: -90px;
    visibility: visible;
    opacity: 1;
}
#side-bar .arrow{
    width: 10px;
    height: 10px;
    background: #999999;
    position: absolute;
    top: 10px;
    right: -5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*side-bar  结束*/


/*logo-search  开始*/
#logo-search .wrapper{
    position: relative;
}
#logo-search .logo{
    float: left;
    margin-left: -45px;
}
#logo-search .search{
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
#logo-search .search-form{
    width: 623px;
    height: 36px;
    border: 2px solid #ff0036;
}
#logo-search .search-input{
    width: 491px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    text-indent: 10px;
}
#logo-search .search-button{
    width: 132px;
    height: 100%;
    background: #ff0036;
    color: #ffffff;
    border: none;
    font-size: 20px;
    letter-spacing: 5px;
    float: right;
}
#logo-search .hot-query{
    margin-top: 15px;
}
#logo-search .hot-query li{
    float: left;
    border-right: 1px solid #999;
    padding: 0 12px;
}
#logo-search .hot-query li:first-child{
    padding-left: 0;
}
#logo-search .hot-query li:last-child{
    border-right: 0;
}
#logo-search .hot-query a {
    color: #999999;
    font-size: 14px;
}
#logo-search .hot-query .hot-query-highlight a{
    color: #ff0036;
}
/*logo-search  结束*/


/*main-nav  开始*/
#main-nav{
    height: 35px;
    line-height: 35px;
}
#main-nav li {
    float: left;
    padding: 0 8px;
}
#main-nav .wrapper{
    width: 867px;
    margin-left: 363px;
    overflow: hidden;
}
#main-nav img{
    width: 100px;
    height: 30px;
    margin-top: 2px;
}
#main-nav li a{
    color: #000000;
}
/*main-nav  结束*/


/*banner  开始*/
#banner{
    background: #fd5957;
}
#banner .wrapper{
    height: 500px;
    background: url("../imgs/banner01.webp") no-repeat;
    position: relative;
}
#banner .banner-nav{
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
#banner .banner-nav li{
    width: 25px;
    height: 5px;
    background: #000000;
    opacity: .3;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
#banner .banner-nav .selected{
    background: #ffffff;
}
#banner .product{
    width: 200px;
    height: 536px;
    background-color: rgba(0,0,0,.55);
    position: absolute;
    top: -36px;
}
#banner .product .category{
    height: 36px;
    background: #ff0036;
    line-height: 36px;
    padding-left: 32px;
}
#banner .product .category{
    color: #ffffff;
}
#banner .product .type{
    padding: 3px 0;
    height: 25px;
    padding-left: 32px;
}
#banner .product .type a{
    color: #ffffff;
}
#banner .product .type:hover{
    background: #ffffff;
}
#banner .product .type:hover a{
    color: #ff0036;
}
/*banner  结束*/


/*brand-list  开始*/
#brand-list .nike{
    width: 122px;
    height: 108px;
    border: 1px solid #cccccc;
    position: relative;
}
#brand-list .brand-img{
    width: 122px;
    height: 108px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: -1;
}
#brand-list .brand-mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    text-align: center;
    overflow: hidden;
}
#brand-list .brand-name{
    color: #ffffff;
    margin-top: 30px;
}
#brand-list .brand-enter{
    background-color: #ff0036;
    color: #ffffff;
    border: none;
    width: 63px;
    height: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    outline: none;
}
#brand-list .nike:hover .brand-mask{
    opacity: 1;
}
#brand-list .brand-mask{
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
/*brand-list  结束*/