.tmall{
    width: 420px;
    height: 300px;
    background: #cccccc;
    padding-left: 9px;
}
a{
    text-decoration: none;
}
.text a{
    color: #000000;
}
li{
    list-style: none;
    width: 200px;
    float: left;
    background: #ffffff;
    margin-top: 15px;
}
img{
    width: 200px;
    height: 200px;
}
.a{
    margin-right: 10px;
}
.text{
    text-align: center;
}
.price{
    text-align: center;
    color: #f00;
}