*{
    margin: 0;
    padding: 0;
    touch-action: none;
}
.hide{
    display: none;
}
.page-1{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #083846;
}
.page-1 .img1{
    width: 248px;
    position: absolute;
    left: 50%;
    margin-left: -124px;
    /* transform: translateX(-50%); */
    top: 1%;
}
.page-1 .img2{
    width: 185px;
    position: absolute;
    left: 50%;
    margin-left: -92.5px;
    top:62%;
}
.icon{
    width: 25px;
    position: absolute;
    left: 50%;
    margin-left: -12.5px;
    top: 92%;
}

.page-2{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #9261bf;
}
.page-2 .img1{
    width: 158px;
    position: absolute;
    left: 50%;
    margin-left: -79px;
    top: 2%;
}
.page-2 .img2{
    width: 240px;
    position: absolute;
    left: 50%;
    margin-left: -120px;
    top: 28%;
}
.page-2 .img3{
    width: 248px;
    position: absolute;
    left: 50%;
    margin-left: -124px;
    top: 8%;
}
.page-2 .img4{
    width: 241px;
    position: absolute;
    left: 50%;
    margin-left: -120.5px;
    top: 36%;
}
.page-2 .img5{
    width: 142px;
    position: absolute;
    left: 50%;
    margin-left: -71px;
    top: 82%;
}
.dot{
    width: 20px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 87%;
}

.page-3{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f3533c;
}
.page-3 .img1{
    width: 166px;
    position: absolute;
    left: 50%;
    margin-left: -83px;
    top: 2%;
}
.page-3 .img2{
    width: 250px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
    top: 30%;
}
.page-3 .img3{
    width: 248px;
    position: absolute;
    left: 50%;
    margin-left: -124px;
    top: 43%;
}
.page-3 .img4{
    width: 172px;
    position: absolute;
    left: 50%;
    margin-left: -86px;
    top: 28%;
}
.page-3 .img5{
    width: 142px;
    position: absolute;
    left: 50%;
    margin-left: -71px;
    top: 82%;
}

.page-4{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffbf50;
}
.page-4 .img1{
    width: 162px;
    position: absolute;
    left: 50%;
    margin-left: -81px;
    top: 2%;
}
.page-4 .img2{
    width: 230px;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    top: 28%;
}
.page-4 .img3{
    width: 271px;
    position: absolute;
    left: 50%;
    margin-left: -135.5px;
    top: 33%;
}
.page-4 .img4{
    width: 161px;
    position: absolute;
    left: 50%;
    margin-left: -80.5px;
    top: 28%;
}
.page-4 .img5{
    width: 142px;
    position: absolute;
    left: 50%;
    margin-left: -71px;
    top: 82%;
}
.page-4 .img6{
    width: 169px;
    position: absolute;
    left: 50%;
    margin-left: -84.5px;
    top: 75%;
}

.page-5{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #083846;
}
.page-5 .img1{
    width: 280px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 20%;
}
.page-5 .img2{
    width: 260px;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    top: 67%;
}


.iconUp{
    animation: iconUp 1.2s ease infinite forwards;
}
@keyframes iconUp{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
    }
}
.moveScale{
    animation: moveScale 0.6s ease forwards;
}
@keyframes moveScale{
    0%{
        transform: scale(0);
    }
}
.moveCircle{
	animation: moveCircle 1.2s ease-in-out;
}

@keyframes moveCircle{
	0%{transform: translateY(-80%);opacity: 0.1;}
	5%{transform: translateY(-80%);opacity: 0.3;}
	35%{transform: translateY(10%);opacity: 0.8;}
	60%{transform: translateY(-30%);opacity: 0.8;}
	65%{transform: translateY(-20%);opacity: 0.8;}
	100%{transform: translateY(0%);opacity: 1;}
}
.moveFromLeft{
    animation: moveFromLeft 0.6s ease forwards;
}
@keyframes moveFromLeft{
    0%{
        transform: translateX(-100%);
    }
}
.moveFromTop{
    animation: moveFromTop 0.6s ease forwards;
}
@keyframes moveFromTop{
    0%{
        transform: translateY(-100%);
        /* transform: translate(-50%,-100%); */
    }
}
.moveFromRight{
    animation: moveFromRight 0.6s ease forwards;
}
@keyframes moveFromRight{
    0%{
        transform: translateX(100%);
    }
}
.moveFromBottom{
    animation: moveFromBottom 0.6s ease forwards;
}
@keyframes moveFromBottom{
    0%{
        transform: translateY(100%);
    }
}
.moveToTop{
    animation: moveToTop 1s ease forwards;
}
@keyframes moveToTop{
    100%{
        transform: translateY(-100%);
    }
}
.moveToBottom{
    animation: moveToBottom 1s ease forwards;
}
@keyframes moveToBottom{
    100%{
        transform: translateY(100%);
    }
}
.rotateCubeBottomIn{
	animation:rotateCubeBottomIn .6s ease-in both ;
	transform-origin: 50% 100%;
}
@keyframes rotateCubeBottomIn {
	0%{
        transform: translateY(-100%) rotateX(90deg);opacity: 0.3;
    }
	50%{
        animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg);
    }
}
.rotateCubeTopIn{
	animation: rotateCubeTopIn 0.6s ease both;
	transform-origin: 100% 50%;
} 
@keyframes rotateCubeTopIn{
	0%{
        transform: translateY(100%); 
        transform: rotateX(-90deg);
        opacity: 0.3;
    }
	50%{
        animation-timing-function: ease-out;
        transform: translateY(50%) translateZ(-200px) rotateX(-45deg);
    }
}


