<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .red{
            background: #ff0036;
        }
    </style>
</head>
<body>
    <div id="product">
        <h1 class="text-center">Todolist</h1>
        <form class="form-inline text-center">
            <div class="form-group">
              <label for="exampleInputName2">Name</label>
              <input type="text" class="form-control" v-model='proName' id="exampleInputName2" placeholder="请输入商品名">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail2">price</label>
              <input type="number" class="form-control" v-model='proPrice' id="exampleInputEmail2" placeholder="请输入价格">
            </div>
            <button type="submit" class="btn btn-default" v-on:click.prevent='add'>添加</button>
        </form>
        <table class="table table-bordered text-center"> 
            <thead>
                <td>选择</td>
                <td>商品名称</td>
                <td>商品价格</td>
                <td>删除</td>
            </thead>
            <tbody>
                <tr v-for='(item,index) in showlist' :key='item.id' :class="{red:item.isRed}" v-on:click='change(item.id)'>
                    <td><input type="checkbox" v-model='item.isRed'></td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td><button type="button" class="btn btn-warning glyphicon-remove btn-xs" v-on:click.stop='del(item.id)'></button></td>
                </tr>
                <tr>
                    <td><button type="button" class="btn btn-danger btn-xs" v-on:click='remove'>删除选中</button></td>
                    <!-- <td colspan="3">总价是：{{total()}}元</td> -->
                    <td colspan="3">总价是：{{total}}元</td>
                </tr>
            </tbody>
        </table>
        <form class="form-inline text-center">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入过滤商品名" v-model='searchName'>
            </div>
            <button type="submit" class="btn btn-default" v-on:click.prevent='filProduct()'>过滤</button>
        </form>
    </div>
    <script src="vue.js"></script>
    <script>
        const vm=new Vue({
            el:'#product',
            data:{
                productlist:[
                    {
                        name:'衣服',
                        price:123,
                        isRed:false,
                        id:1
                    },{
                        name:'裤子',
                        price:456,
                        isRed:false,
                        id:2                       
                    },{
                        name:'鞋',
                        price:222, 
                        isRed:false, 
                        id:3                      
                    },{
                        name:'手机',
                        price:555,
                        isRed:false,
                        id:4                        
                    },{
                        name:'帽子',
                        price:111, 
                        isRed:false,
                        id:5                      
                    }
                ],
                proName:'',
                proPrice:0,
                searchName:'',
                showlist:[
                    {
                        name:'衣服',
                        price:123,
                        isRed:false,
                        id:1
                    },{
                        name:'裤子',
                        price:456,
                        isRed:false,
                        id:2                     
                    },{
                        name:'鞋',
                        price:222, 
                        isRed:false,
                        id:3                       
                    },{
                        name:'手机',
                        price:555,
                        isRed:false,
                        id:4                        
                    },{
                        name:'帽子',
                        price:111, 
                        isRed:false,
                        id:5                       
                    }
                ]
            },
            methods:{
                add(){
                    this.productlist.push({
                        name:this.proName,
                        price:Number.parseInt(this.proPrice), //es6下将parseInt放在number下，防止污染全局
                        isRed:false,
                        id:Symbol()
                    })
                    this.showlist=[...this.productlist]
                },
                change(id){
                    // item.isRed=!item.isRed
                    // let changelist=this.productlist.map((obj,index)=>{
                    //     if(obj.id==id){
                    //         obj.isRed=!obj.isRed;
                    //     }
                    //     return obj;
                    // })
                    // this.productlist=[...changelist];
                    // this.showlist=[...this.productlist];
                    // this.productlist.forEach((obj,index)=>{
                    //     if(obj.id==id){
                    //         obj.isRed=!obj.isRed;
                    //     }
                    //     return obj;
                    // })
                    // this.showlist=[...this.productlist];
                    this.showlist.forEach((item,index)=>{
                        if(item.id==id){
                            item.isRed=!item.isRed;
                        }
                    })
                },
                // total(){
                //     let sum=0;
                //     this.productlist.forEach((obj,index)=>{
                //         if(obj.isRed){
                //             // sum+=parseInt(obj.price);
                //             sum+=obj.price;
                //         }
                //     })
                //     return sum;
                // },
                // remove(){
                //     this.productlist.forEach((obj,index)=>{
                //         if(obj.isRed){
                //             this.productlist.splice(index,1)
                //         }
                //     })
                //     因为删除后索引变化，删除有问题
                // }
                remove(){
                    let arr=this.productlist.filter((obj,index)=>{
                        return !obj.isRed;
                    })
                    this.productlist=arr;
                    this.showlist=[...this.productlist]
                },
                del(id){
                    // this.productlist.splice(index,1);
                    // this.showlist=[...this.productlist]
                    let dellist=this.productlist.filter((obj,index)=>{
                        return obj.id!=id;
                    })
                    this.productlist=[...dellist];
                    this.showlist=[...this.productlist];
                },
                filProduct(){
                    // let searchlist=this.productlist.filter((obj,index)=>{
                    //     return obj.name.includes(this.searchName)
                    // });
                    // this.showlist=[...searchlist];
                    let searchlist=this.productlist.filter((obj,index)=>{
                        return obj.name.includes(this.searchName)
                    })
                    this.showlist=[...searchlist];
                    this.searchName='';
                }
            },
            computed:{
                total(){
                    let sum=0;
                    this.showlist.forEach((obj,index)=>{
                        if(obj.isRed){
                            sum+=obj.price;
                        }
                    })
                    return sum;
                }
            }
        })
    </script>
</body>
</html>